<form 
        class="w-full max-w-sm mx-auto px-4 py-2 flex flex-col gap-4"
        [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="flex items-center border-b-2 border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="email" formControlName="email" placeholder="Add a task email - Manadatory field">
        </div>
        <div class="flex items-center border-b-2 border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="password" formControlName="password" placeholder="Add a task Description - Manadatory field">
        </div>
        <div class="flex justify-end">
            <button
            class="flex-shrink-0    text-sm border-4 text-white py-1 px-2 rounded"
            type="submit"
            [ngClass]="{
                'bg-gray-500 border-gray-500':!loginForm.valid,
                'bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700':loginForm.valid,
            }"
            [disabled]="!loginForm.valid">
            Login
        </button>
        </div>
    </form>

    <div class="flex flex-col gap-4" >
        <p>hint :- </p>
        <p>_id : 651992332bbf48491396540e</p>
        <p>email : "ak@mail.com"</p>
        <p>password : "Amu@2020"</p>
        
        
        
        
    </div>
<!-- <input type="text" [(ngModel)]="email"> -->